<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/godfrey/IdeaProjects/Baeldung-boot-camp/java-refresher/java-selenium/lesson44-dependency-methods-and-grouping-tests/src/test/java/day44/group_tests"><classes><class name="day44.group_tests.LoginTest"><methods><include name="loginByFacebook"/><include name="loginByGoogle"/><include name="loginByTwitter"/><include name="loginByLinkedIn"/><include name="loginByEmail"/></methods></class><class name="day44.group_tests.SignupTest"><methods><include name="signupByFacebook"/><include name="signupByGoogle"/><include name="signupByTwitter"/><include name="signupByLinkedIn"/><include name="signupByEmail"/></methods></class></classes></test></suite>