<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Registration Page</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/3.1.1/pwstrength-bootstrap.min.js"></script>
</head>
<body>
<div class="container auth-container">
    <h1>Registration page</h1>
    <div class="alert alert-info">An activation link will be sent to your email after registration.</div>
    <form id="userForm" th:action="${myUser.id == null ? '/myUser/register' : '/users/' + myUser.id + '/edit'}" th:object="${myUser}" action="#" method="post">
        <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect password confirmation</div>

        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" title="username" th:field="*{username}"/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="field-error">Username Error</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" title="email" th:field="*{email}"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="field-error">Email Error</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" title="password" th:field="*{password}"/>
            <div class="pwstrength_viewport_progress"></div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="field-error">Password Error</div>
        </div>
        <div class="form-group">
            <label for="passwordConfirmation">Password Confirmation</label>
            <input id="passwordConfirmation" type="password" title="passwordConfirmation" th:field="*{passwordConfirmation}"/>
            <div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="field-error">Password Confirmation Error</div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="question">Security Question:</label>
            <div class="col-xs-10">
                <select id="question" name="questionId">
                    <option th:each="question : ${questions}"
                            th:value="${question.id}"
                            th:text="${question.text}">Question</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="answer">Answer</label>
            <div class="col-xs-10">
                <input id="answer" type="text" name="answer"/>
            </div>
        </div>
        <!-- Assigning roles visible to the admin only-->
        <div class="form-group" sec:authorize="hasRole('ADMIN')">
            <label class="control-label col-xs-2">Roles:</label>
            <div class="col-xs-10">
                <label for="roleUser"><input type="radio" name="roleNames" value="ROLE_USER" id="roleUser" /> USER</label>
                <label for="roleAdmin"><input type="radio" name="roleNames" value="ROLE_ADMIN"  id="roleAdmin" /> ADMIN</label>
            </div>
        </div>
        <div class="actions">
            <input type="submit" class="btn primary" th:value="${myUser.id == null ? 'Register' : 'Save Changes'}"/>
            <a class="btn" th:href="${myUser.id == null} ? @{/login} : @{/users}">[[${myUser.id == null ? 'Back to Login' : 'Back to Users'}]]</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        options = {
            common: {
                minChar: 8,
                usernameField: "#username",
                emailField: "#email"
            },
            ui: {
                showVerdictsInsideProgressBar: true,
                showErrors: true,
                errorMessages: {
                    wordLength: 'Your password is too short',
                    wordEmail: 'Your password cannot contain your email'
                },
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            },
            rules: {
                activated: {
                    wordEmail: true
                },
                extra: {
                    wordEmail: function (options, word, score) {
                        var email = $(options.common.emailField).val();
                        if (email && email.length > 3) {
                            var localPart = email.split('@')[0];
                            if (word.toLowerCase().indexOf(email.toLowerCase()) > -1 || (localPart.length > 3 && word.toLowerCase().indexOf(localPart.toLowerCase()) > -1)) {
                                return score;
                            }
                        }
                        return 0;
                    }
                }
            }
        };
        $('#password').pwstrength(options);
    });
</script>
</body>
</html>